<div class="modal fade" id="modalPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ !this.postService.selectedPost.id ? 'Nuevo Post' : 'Editar Post' }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal(formPost)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formPost="ngForm" (ngSubmit)="onSavePost(formPost)">
          <input type="hidden" name="id" [(ngModel)]="this.postService.selectedPost.id">
          <input type="hidden" name="userUid" [value]="userUid">
          <input type="hidden" name="createdAt" [value]="today">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="titulo">Titulo</label>
              <input type="text" class="form-control" name="titulo" placeholder="Título" [(ngModel)]="this.postService.selectedPost.titulo">
            </div>
            <div class="form-group col-md-6">
              <label for="portada">Portada</label>
              <input type="text" name="portada" class="form-control" placeholder="Portada" [(ngModel)]="this.postService.selectedPost.portada">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="autor">Autor</label>
              <input type="text" name="autor" class="form-control" placeholder="Autor" [(ngModel)]="this.postService.selectedPost.autor">
            </div>
            <div class="form-group col-md-6">
              <label for="video">Video</label>
              <input type="text" name="video" class="form-control" placeholder="Video" [(ngModel)]="this.postService.selectedPost.video">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fecha">Fecha</label>
              <div class="input-group">
                <input type="text" name="fecha" class="form-control" placeholder="Fecha" [(ngModel)]="this.postService.selectedPost.fecha" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="categoria">Categoría</label>
              <select class="form-control" name="categoria" [(ngModel)]="this.postService.selectedPost.categoria">
                <option value="mantenimiento">Mantenimiento</option>
                <option value="videojuegos">Videojuegos</option>
                <option value="tecnologia">Tecnologia</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="introduccion" class="col-form-label">Introducción:</label>
            <textarea class="form-control" rows="4" name="introduccion" [(ngModel)]="this.postService.selectedPost.introduccion"></textarea>
          </div>
          <div class="form-group">
            <label for="descripcion" class="col-form-label">Descripcion:</label>
            <textarea class="form-control" rows="4" name="descripcion" [(ngModel)]="this.postService.selectedPost.descripcion"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnClose (click)="onCloseModal(formPost)">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>