<section class="row mt-5">
	<div class="col">
		<button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalPost">Nuevo Post</button>
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Título</th>
					<th scope="col">Autor</th>
					<th scope="col">Categoría</th>
					<th scope="col">Fecha</th>
					<th scope="col">&nbsp;</th>
					<th scope="col">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let post of posts; index as i">
					<th scope="row">{{i + 1}}</th>
					<td>{{post.titulo}}</td>
					<td>{{post.autor}}</td>
					<td>{{post.categoria}}</td>
					<td>{{post.fecha.day}}/{{post.fecha.month}}/{{post.fecha.year}}</td>
					<td *ngIf="post.userUid == userUid || isAdmin == true; else noOwner">
						<button class="btn btn-primary" data-toggle="modal" data-target="#modalPost" (click)="onPreUpdatePost(post)">Editar</button>
					</td>
					<ng-template #noOwner>
						<td>
							<button class="btn btn-secondary" disabled="true">Editar</button>
						</td>
					</ng-template>
					<td *ngIf="isAdmin == true; else noAdmin">
						<button class="btn btn-danger" (click)="onDeletePost(post.id)">Eliminar</button>
					</td>
					<ng-template #noAdmin>
						<td>
							<button class="btn btn-danger" disabled="true">Eliminar</button>
						</td>
					</ng-template>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<app-modal-post [userUid]="userUid"></app-modal-post>