<section id="post" class="mt-5">
  <div class="container">
    <header class="blog-header py-3" id="top-post">
      <div class="align-items-center">
        <div class="text-center">
          <span class="blog-header-logo text-dark">
            <a routerLink="/">El Blog del Mayu</a>
          </span>
          <br><br>
          <strong class="d-inline-block mb-2 text-primary">(Videojuegos)</strong>
        </div>
      </div>
    </header>
    <div class="nav-scroller py-1 mb-2 border-bottom">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" routerLink="/tecnologia">Tecnología</a>
        <a class="p-2 text-muted" routerLink="/videojuegos">Videojuegos</a>
      </nav>
    </div>
  </div>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="blog-post">
          <h2 class="blog-post-title">{{post.titulo}}</h2>
          <p class="blog-post-meta">{{post.fechaMonth | mesName}} {{post.fechaDay}}, {{post.fechaYear}} por <a href="{{post.temp}}" target="_blank">{{post.autor}}</a></p>
          <div innerHtml="{{post.descripcion}}"></div>
          <object *ngIf="post.videoCierre!='no'" class="videoCierre" [data]="post.videoCierre | safe">
          </object>
          <div *ngIf="post.msgVideoCierre!='no'" class="text-justify" innerHtml="{{post.msgVideoCierre}}"></div>
        </div>
      </div><!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">Acerca del sitio web</h4>
          <p class="mb-0 text-justify">El blog del Mayu ha sido desarrollado con la finalidad de compartir mis experiencias en diversos campos durante mi día a día cotidiano.</p>
        </div>
        <div class="p-3">
          <h4 class="font-italic">Archivos</h4>
          <ol class="list-unstyled mb-0">
            <li><a routerLink="/posts/2019/3">Marzo 2019</a></li>
            <li><a routerLink="/posts/2018/12">Diciembre 2018</a></li>
            <li><a routerLink="/posts/2018/8">Agosto 2018</a></li>
            <li><a routerLink="/posts/2018/7">Julio 2018</a></li>
          </ol>
        </div>
        <div class="p-3">
          <h4 class="font-italic">Sígueme también en:</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/mayuelcuarto" target="_blank">GitHub</a></li>
            <li><a href="https://www.youtube.com/channel/UCPN6mJNFnR_e6an6ToTX4pg?view_as=subscriber" target="_blank">Youtube</a></li>
          </ol>
        </div>
      </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </main><!-- /.container -->
  <footer class="blog-footer">
    <p>Este sitio web fue desarrollado con <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></p>
  </footer>
</section>
