/* You can add global styles to this file, and also import other style files */
#books {
  border-radius: 0.25rem;
  background: #f9f9f9 !important;
}
section {
  padding: 20px 0;
}
#books .card {
  border: none;
  background: #fff;
}
.card_book {
  position: relative;
  -webkit-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.card_book .card {
  min-height: 312px;
}

p.card-text{
  text-align: justify;
}
h4.card-title {
  text-align: center;
  min-height: 30px !important;
}

.card-title {
  color: #007bff;
  cursor: pointer;
}

.card_book .card .card-body img {
  width: 100%;
  height: 180px;
  border-radius: 0.25rem;
}

.card_video{
  width: 100%;
  height: 180px;
  border-radius: 0.25rem;
}

div.container-precio-idioma{
  display: flex;
  justify-content: space-between;
}




